body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 255, 255, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;
}


.container label {
    font-weight: bold;
    color: #333;
}


.container #nome {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #74ebd5;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}



.container button {
    background: #74ebd5;
    border: none;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.container button:hover {
    
   background-color: rgba(0, 255, 255, 0.377);
}


.container p {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}


.container h1 {
    color: #333;
    margin: 15px 0;
}
